.App {
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  min-height: 100vh;
}

.NavBar {
  display: flex;
  background-color: black;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  margin-bottom: 1.5em;
}

.NavBar h2 {
  font-family: sans-serif;
  color: #ce7b00;
}

.search {
  border-style: none;
  padding: 1em;
  width: 200px;
}

.Dashboard {
  background-color: #1e1e1e;
}

.MovieList {
  display: flex;
  overflow: scroll;
  justify-content: space-between;
  padding: 0 0.5em 0.5em 0.5em;
  margin: 0 0.5em 0.5em 0.5em;
}

.MovieListContainer h2 {
  padding-left: 1.5em;
  color: white;
  font-family: sans-serif;
  margin-bottom: 0;
  font-size: 20px;
}

.MovieListContainer {
  display: flex;
  flex-direction: column;
}

.MovieListItem {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

::-webkit-scrollbar {
  display: none;
}
